  <% if !@replied.empty? %>
	  <ul class="replied_microblogs">
			<% @replied.each do |msg| %>
				<li>
					<%= link_to gravatar_for(msg.user), msg.user %>
					<span class="user">
						<%= link_to msg.user.name, msg.user %>
					</span>
					<span class="content"><%= msg.content %></span>
				</li>
			<% end %>
		</ul>
	<% end %>